* {
  font-family:monospace;
}

#app {
  position: relative;
}

#app img {
  max-width: 100%;
  border-radius: 10px;

}

#app .bottom-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  background: black;
  padding: 10px;
  font-size: large;
}

#other-information {
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
}


.bold-text {
  font-weight: bold;
}